body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #0f2039;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    color: aliceblue;
}

#todo_list {
    background: rgb(19, 24, 127);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 50%;
   
}

#new_task {
    padding: 15px;
    width: 70%;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: #340945;
    border-color:#340945;
    
}

button {
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;

    
}

ul {
    list-style: none;
    padding: 0;
    width:75%;
    border: #340945;
    border-radius: 5px;
    
}

li {
    padding: 10px;
    border-top: 1px solid #eee;
    cursor: pointer;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    border-color: aliceblue;
    background: rgba(0,0,0,0.1);
    opacity: 0.6;
    border-radius: 8px;
   
    
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

.delete, .tick{
    border: none;
    background: none;
    cursor: pointer;
    color:white;

}


